.icono-derecha{
    margin-left: 70%;
}

.btn-registrar-pluma-dash{
    background-color: rgb(113, 114, 114);
    margin-left: 80%;
}

.form-control{
    background-color: rgb(246, 246, 246);
}


h2{
    color: black;
}

.btn{
    text-transform:initial;
}